@font-face {
    font-family: "Libre Baskerville";
    src: url(../assets/fonts/LibreBaskerville-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Mulish";
    src: url(../assets/fonts/Mulish-VariableFont_wght.ttf) format("truetype");
}

@font-face {
    font-family: "Allura";
    src: url(../assets/fonts/Allura-Regular.ttf) format("truetype");
}

* {
    font-synthesis: none;
}
