.home-section-cta {
    color: var(--white);

    &__content {
        padding: 120px 0;
        display: flex;
        flex-direction: column;
        gap: 24px;
        position: relative;
        z-index: 2;

        .h1_extra {
            max-width: 836px;
            margin: auto;
        }

        .subtitle_m_light {
            max-width: 480px;
            margin: auto;
        }
    }

    &__holder {
        background-size: cover;
        background-position: center;
        text-align: center;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #0000006a;
            z-index: 1;
        }
    }

    .theme-buttons {
        justify-content: center;
    }
}
